<div class="wrapper row">

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

    <div class="tile col-xs-3">
        <img ng-src="http://placehold.it/200x275">
        <p class="title">Invoice title</p>
    </div>

</div>